<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- my css file -->
    <link rel="stylesheet" href="./assets/css/style.css">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css' integrity='sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==' crossorigin='anonymous' referrerpolicy='no-referrer'
    />
</head>

<body>

    <div id="app">

        <div class="container-bkg">
            <div class="bkg-header bkg-succes"></div>
            <!-- /.bkg-succes -->
            <div class="bkg-main bkg-primary"></div>
            <!-- /.bkg-primary -->
            <div class="container-app d-flex">
                <section class="users">
                    <div class="my-user bkg-primary-app d-flex item-center">
                        <div class="my-user-data d-flex item-center">
                            <img src="./assets/img/avatar_1.jpg" alt="">
                            <div class="name-user">Sofia</div>
                            <!-- /.name-user -->
                        </div>
                        <!-- /.my-user-data -->
                        <div class="icon-action">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                        <!-- /.icon-action -->
                    </div>
                    <!-- /.my-user -->
                    <div class="notification d-flex item-center">
                        <i class="fa-solid fa-bell-slash"></i>
                        <div class="active-notifications">
                            Ricevi notifiche di nuovi messaggi
                            <br>
                            <span>Attiva notifiche desktop</span>
                        </div>
                        <!-- /.name-user -->
                    </div>
                    <!-- /.notification -->
                    <div class="serch bkg-primary-app d-flex item-center">
                        <span class="icon">
                            <i class="fa-solid fa-search"></i>
                        </span>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchContact" @input="selectContact">
                    </div>
                    <!-- /.serch -->
                    <div class="contact-list">
                        <ul class="d-flex">
                            <li class="item-user d-flex" :class="contact.visible == false ? 'none' : ''" v-for="(contact, index) in contacts" @click="selectChat(index)">
                                <img :src="'./assets/img/avatar' + contact.avatar + '.jpg'" alt="">
                                <div class="preview-chat">
                                    <div class="nickname">{{contact.name}}</div>
                                    <!-- /.nickname -->
                                    <div class="last-message">Ultimo messaggio</div>
                                    <!-- /.last-message -->
                                </div>
                                <!-- /.preview-chat -->
                            </li>
                        </ul>
                    </div>
                    <!-- /.contact-list -->
                </section>
                <!-- /.user -->
                <section class="messages">
                    <div class="selected-user">
                        <div class="item-user-selected bkg-primary-app d-flex item-center">
                            <img :src="'./assets/img/avatar' + contacts[activeChat].avatar + '.jpg'" alt="">
                            <div class="nickname">
                                {{contacts[activeChat].name}}
                                <div class="last-login">
                                    Ultimo accesso {{new Date().toLocaleString('it')}}
                                </div>
                                <!-- /.last-message -->
                            </div>
                            <!-- /.nickname -->
                            <div class="icon-action">
                                <i class="fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                            <!-- /.icon-action -->
                        </div>
                        <!-- /.item-user-selected -->
                    </div>
                    <!-- /.selected-user -->
                    <div class="show-messages">
                        <div :class="message.status == 'received' ? 'message-received ':'message-sent'" class="txt-left" v-for="(message, index) in contacts[activeChat].messages">
                            <div class="txt">
                                {{message.message}}
                            </div>
                            <!-- /.txt -->
                            <div class="hour">{{new Date().toLocaleString('it')}}</div>
                            <!-- /.hour -->
                            <div class="dropbtn" @click="dropDown(index)">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <div class="dropdown" v-if="activeMessage.visible && activeMessage.index == index">
                                <div id="myDropdown" class="dropdown-content">
                                    <a href="#">Info messaggio</a>
                                    <a @click="deleteMessage(index)" href="#">Cancella il messaggio</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.message-received -->
                    </div>
                    <!-- /.show-messages -->
                    <div class="type-message bkg-primary-app d-flex item-center">
                        <i class="fa-regular fa-smile"></i>
                        <input type="text" placeholder="Scrivi un messaggio" v-model="inputMessage" @keyup.enter="addMessage">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                    <!-- /.type-message -->
                </section>
                <!-- /.message -->
            </div>
            <!-- /.container-app -->
        </div>
        <!-- /.container-bkg -->

    </div>
    <!-- /#app -->




    <!-- vue link -->
    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script>
    <!-- my script file -->
    <script src="./assets/js/app.js"></script>
</body>

</html>