/* #region - common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

i {
    color: var(--color-icon);
    font-size: 14px;
}


/* #endregion - common */


/* #region - variables */

:root {
    --color-succes: #009688;
    --color-notification: #8EDAFC;
    --color-icon: #B1B1B1;
    --color-messageSent: #D5F9BA;
    --color-primary: #DCDBD3;
    --color-light: #E9EBEB;
    --color-lighter: #EAEAEA;
    --text-light: grey;
}


/* #endregion - variables */


/* #region - utility */

.bkg-succes {
    width: 100%;
    height: 15%;
    background-color: var(--color-succes);
}

.bkg-primary {
    width: 100%;
    height: 85%;
    background-color: var(--color-primary);
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.item-center {
    align-items: center;
}

.txt-right {
    text-align: right;
}

.txt-left {
    text-align: left;
}


/* #endregion - utility */

.container-bkg {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.bkg-header {
    max-width: 100%;
    max-height: 15%;
}

.bkg-main {
    max-width: 100%;
    max-height: 85%;
}

.bkg-primary-app {
    background-color: var(--color-lighter);
}

.container-app {
    width: 80%;
    height: calc(100% - 50px);
    margin: 25px 0;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, 0);
}


/* #region - users */

.users {
    width: 35%;
}

.messages {
    width: 65%;
}

.users,
.messages {
    border: 1px solid black;
    height: 100%;
}

.my-user,
.item-user-selected,
.type-message {
    width: 100%;
    height: 50px;
    padding: 0.3rem;
}

.my-user-data {
    width: 100%;
    height: 100%;
    column-gap: 0.5rem;
}

.icon-action {
    width: 100%;
    text-align: right;
}

.icon-action i {
    padding: 0 0.25rem;
    font-size: 16px;
}

.notification {
    width: 100%;
    height: 60px;
    background-color: var(--color-notification);
    padding: 0.75rem;
    display: flex;
    align-items: center;
}

.notification i {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    background-color: white;
    color: var(--color-notification);
}

.notification i::before {
    width: 35px;
    height: 35px;
}

.notification span {
    color: var(--text-light);
    font-size: 10px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.serch {
    width: 100%;
    height: 40px;
    padding: 0.25rem;
}

.users .serch .icon i {
    height: calc(40px - 0.5rem);
    padding: 0 1rem;
    background-color: white;
    border-top: 1px solid var(--color-icon);
    border-bottom: 1px solid var(--color-icon);
    border-left: 1px solid var(--color-icon);
    display: flex;
    align-items: center;
}

.users .serch .icon span {
    width: 100%;
    height: 100%;
}

.users .serch input {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-icon);
    font-size: 10px;
    font-weight: bold;
    padding: 0 0.5rem;
}

.contact-list {
    width: 100%;
    height: calc(100% - 40px - 60px - 50px);
}

.contact-list ul {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
}

.contact-list li {
    width: 100%;
    height: calc(100% / 8);
    border-top: 1px solid var(--color-icon);
    background-color: white;
    padding: 0.5rem 1rem;
}

.contact-list li>img {
    margin-right: 0.75rem;
}

.preview-chat {
    height: 100%;
}

.nickname {
    width: 100%;
    font-size: 14px;
}

.item-user-selected>img {
    margin-right: 0.5rem;
}

.last-message,
.last-login {
    width: 100%;
    color: var(--text-light);
    font-size: 12px;
}


/* #endregion - users */

.show-messages {
    width: 100%;
    height: calc(100% - 100px);
    background-image: url("../img/mine.jpg");
    padding: 2rem;
    overflow-y: auto;
}

.messages-user {
    margin-right: 55%;
    margin-left: 2rem;
}

.my-messages {
    margin-right: 2rem;
    margin-left: 55%;
}

.message-sent,
.message-received {
    margin-bottom: 0.75rem;
    border-radius: 10px;
    padding: 0.75rem;
    text-align: left;
    padding-right: 1.25rem;
    position: relative;
}

.message-sent {
    background-color: var(--color-messageSent);
}

.message-received {
    background-color: white;
}

.hour {
    font-size: 10px;
    color: var(--text-light);
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.type-message i {
    font-size: 16px;
    color: grey;
    padding: 0 1.3rem;
}

.type-message input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    padding: 0 1rem;
}